/* =========================
   Table collapse column
   ========================= */

#tree {
  position: relative;
}

#tree
.table-collapse-col.visibility-control {
  position: absolute;

  z-index: 30;

  margin: 0;
  padding: 0;
  opacity: 0;
}

#tree
.table-collapse-col.visibility-control.is-visible,
#tree
.table-collapse-col.visibility-control:hover,
#tree
.table-collapse-col.visibility-control.is-collapsed,
#tree
.table-collapse-col.visibility-control.is-always-visible {
  opacity: 1;
}